rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /props/{prop} {
      allow read: if true;
      allow write: if false; // Only Cloud Functions should write
    }
  }
}
